<div class="container">

        <div *ngIf="repos">
                <div class="card-columns">
                    <div *ngFor="let repo of repos">
                        <div class="card">
                                <div class="card-body">
                            <b> {{repo.name}}</b>-----<b>{{repo.description}}</b><br> 
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        <h2>Public Repositories By {{username}}</h2><br>
    <div>

    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
    <div class="card"><b>Repository Name</b><p>Repository Description Goes Here</p><button class="btn btn-primary">Go to Repository</button></div>
 
 



</div>
</div>