<div class="container">
<h2>Public Repositories By {{username}}</h2><br>
        <div *ngIf="repos">
            <div class="card-columns">
                    <div *ngFor="let repo of repos">
                        <div class="card">
                                <div class="card-body">
                            <b> {{repo.name}}</b>
                            <p>{{repo.description}}</p>
                            <button class="btn btn-primary">Go to Repository</button>
        
                            </div>
                        </div>
                    </div>
</div>
                </div>

</div>