.card{

    font-size: 25px;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    height: 220px;
    width:350px;
}
.card-custom{

    font-size: 15px;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    height: 220px;
    width:320px;
    padding: 20px;
}
.btn{
    height: 50px;

        background-color: white;
        color: black;
        border: 2px solid #555555;
      
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin:10px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;

}
.btn:hover {
    background-color:black;
    color: #fcdf03;
  }
.card:hover{
    -webkit-box-shadow: 7px 15px 5px -3px rgba(0,0,0,0.16);
    -moz-box-shadow: 7px 15px 5px -3px rgba(0,0,0,0.16);
    box-shadow: 7px 15px 5px -3px rgba(0,0,0,0.16);
    width:1.05;
    transition: 1s all ease;
}
img{
    height:95%;
    width: 120px;
}
.dashboard{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;

    
}
.results{
    padding:20px;
}
.card-body{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    

}
p{
    font-size: 12px;
}